<template>
    <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary" style="margin-top: 30px">
              <!-- form start -->
              <form action="/roles/edit" method="POST">
                <input type="hidden" name="_token" :value="csrf">
                <input type="hidden" name="id" :value="id">
                <div class="card-body">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Enter name" v-model="role.name">
                  </div>
                
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
      </div>
</template>

<script>
    export default ({
        data() {
            return {
                role: '',
                id: this.$route.params.id,
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            }
        },
        created() {
            this.getRole();
        },
        methods: {
            getRole() {
                axios
                .get('/getrole/'+this.$route.params.id)
                .then(response => {
                  this.role = response.data
                });
            }
        }
    })
</script>
