<template>
    <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
          <div class="col-12">
            <div class="card" style="margin-top: 30px">
              <div class="card-header">
                <h3 class="card-title">Роли</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <button style="margin: 20px 0 0 20px;" type="button" class="btn btn-sm btn-primary" @click="newModal">
                    Добавить
                </button>
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Название</th>
                      <th>Действия</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, key) in roles">
                        <td>{{ item.name }}</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-primary" @click="editModal(item)">
                                Редактировать
                            </button>
                            <button
                              v-if="permission['delete menu']"
                              class="btn btn-sm btn-danger"
                              @click="delRole(item.id)"
                            >
                              Удаление</button
                            >
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNew" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" v-show="!editmode">Create New User</h5>
                  <h5 class="modal-title" v-show="editmode">Update User's Info</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>

              <!-- <form @submit.prevent="createUser"> -->
              <form @submit.prevent="editmode ? updateRole() : createRole()">
                  <div class="modal-body">
                      <div class="form-group">
                          <label>Name</label>
                          <input v-model="form.name" type="text" name="name"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                          <has-error :form="form" field="name"></has-error>
                      </div>
                  </div>
                  
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
                      <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
                  </div>
                </form>
              
              </div>
          </div>
        </div>
    </div>
</template>

<script>
    export default({
        data() {
            return {
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                roles: [],
                permission: [],
                editmode: false,
                form: new Form({
                    id : '',
                    name: '',
                }),
            }
        },
        created() {
            this.getRoles();
            this.getUserPermission()
        },
        methods: {
            getRoles() {
                axios
                .get('/getroles')
                .then(response => {
                  this.roles = response.data;
                });
            },
            editModal(role){
              this.editmode = true;
              this.form.reset();
              $('#addNew').modal('show');
              this.form.fill(role);
            },
            updateRole() {
              axios.post('/roles/edit', this.form)
                .then((response) => {
                    this.getRoles();
                    $('#addNew').modal('hide');
                    Toast.fire({
                        icon: 'success',
                        title: response.data.message
                    });
                    this.$Progress.finish();
                })
            },
            createRole() {
              axios.post('/roles/add', this.form)
              .then((response)=>{
                  this.getRoles();
                  $('#addNew').modal('hide');

                  Toast.fire({
                        icon: 'success',
                        title: response.data.message
                  });

                  this.$Progress.finish();
              })
            },
            newModal(){
                this.editmode = false;
                this.form.reset();
                $('#addNew').modal('show');
            },
            delRole(id) {
              Swal.fire({
              title: 'Are you sure?',
              text: "You won't be able to revert this!",
              showCancelButton: true,
              confirmButtonColor: '#d33',
              cancelButtonColor: '#3085d6',
              confirmButtonText: 'Yes, delete it!'
              }).then((result) => {

                  // Send request to the server
                   if (result.value) {
                          axios.get("/roles/delete/" + id).then(()=>{
                                  Swal.fire(
                                  'Deleted!',
                                  'Your file has been deleted.',
                                  'success'
                                  );
                              // Fire.$emit('AfterCreate');
                              this.getRoles();
                          }).catch((data)=> {
                            Swal.fire("Failed!", data.message, "warning");
                        });
                   }
              })
            },
            getUserPermission() {
              const postData = { 
                id: this.id,
              };
              axios
              .get('/getuserpermission', )
              .then(response => {
                this.permission = response.data;
              });
            }
        }
    })
</script>
