<template>
    <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-8">
            <!-- general form elements -->
            <div class="card card-primary" style="margin-top: 30px">
              <!-- form start -->
              <div class="card-body">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Enter name" v-model="role.name" disabled>
                  </div>
              </div>
            </div>
            <!-- /.card -->
            <router-link to="/roles" class = "btn btn-success">Назад</router-link>
          </div>
        </div>
        <!-- /.row -->
      </div>
</template>

<script>
    export default ({
        data() {
            return {
                role: ''
            }
        },
        created() {
            this.getRole();
        },
        methods: {
            getRole() {
                axios
                .get('/getrole/'+this.$route.params.id)
                .then(response => {
                  this.role = response.data
                });
            }
        }
    })
</script>
