<template>
    <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary" style="margin-top: 30px">
              <!-- form start -->
              <form @submit.prevent="save()" method="POST">
                <input type="hidden" name="_token" :value="csrf">
                <input type="hidden" name="id" :value="id">
                <div class="card-body">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="test" class="form-control" name="name" v-model="name">
                  </div>
                </div>
                <div class="card-body">
                  <div class="form-group">
                    <label for="link">Link</label>
                    <input type="text" class="form-control" name="link" id="link" v-model="link">
                  </div>
                </div>
                <div class="card-body">
                  <div class="form-group">
                    <label for="status">Status</label>
                    <select name="status" id="status" v-model="statusSelected" class="form-control">
                        <option v-for="item in status" :value="item.name">{{ item.name }}</option>
                    </select>
                  </div>
                </div>
                <div class="card-body">
                  <div class="form-group">
                    <label for="role">Role</label>
                    <multiselect v-model="value" tag-placeholder="Add this as new tag" placeholder="Search or add a tag" label="name" track-by="code" :options="options" :multiple="true" :taggable="true" @tag="addTag"></multiselect>
                  </div>
                </div>
                <div class="card-body" style="margin-left: 20px">
                  <div class="form-group">
                    <input v-model="submenuFlag" class="form-check-input" type="checkbox" id="submenuFlag" name="submenuFlag">
                    <label for="submenuFlag" class="form-check-label">Подменю</label>
                  </div>
                </div>

                <div class="card-body" v-if="submenuFlag">
                  <div class="form-group">
                    <label for="submenu">Основное меню</label>
                    <select name="submenu" id="submenu" v-model="status" class="form-control">
                        <option v-for="item in submenu" :value="item.id">{{ item.name }}</option>
                    </select>
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
      </div>
    
</template>

<script>
    import Multiselect from 'vue-multiselect'
    export default({
        components: { Multiselect },
        data() {
            return {
                name: '',
                link: '',
                role: [],
                status: [
                  {'name': 'Enabled'},
                  {'name': 'Disabled'}
                ],
                statusSelected: '',
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                submenuFlag: false,
                submenu: [],
                value: [],
                options: [],
                id: this.$route.params.id,
                curStatus: ''
            }
        },
        created() {
            this.getRole()
            this.getMenu()
            this.getSubmenu()
        },
        methods: {
            getRole() {
                axios
                .get('/getroles')
                .then(response => {
                  for (let i = 0; i < response.data.length; i++) {
                    this.options.push({
                      'name': response.data[i].name,
                      'code': response.data[i].id
                    });
                  }
                });
            },
            getMenu() {
                axios
                .get('/getMenu/'+this.$route.params.id)
                .then(response => {
                  this.name = response.data.name;
                  this.link = response.data.link;
                  this.statusSelected = response.data.status;
                });
            },
            getSubmenu() {
                axios
                .get('/getsubmenu')
                .then(response => {
                  this.submenu = response.data;
                });
            },
            addTag (newTag) {
              const tag = {
                name: newTag,
                code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
              }
              this.options.push(tag)
              this.value.push(tag)
            },
            save () {
              var data = {
                'id': this.id,
                'name': this.name,
                'link': this.link,
                'roles': this.value,
                'statusSelected': this.statusSelected,
                'selectedSubmenu': this.selectedSubmenu,
                'submenuFlag': this.submenuFlag,
                'id': this.id
              }
              axios
                .post('/menu/edit', data)
                .then(response => {
                  window.location.replace("/menu");
                });
            }
        }
    })
</script>
