<template>
    <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
          <div class="col-12">
            <div class="card" style="margin-top: 30px">
              <div class="card-header">
                <h3 class="card-title">Меню</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <button style="margin: 20px 0 0 20px;" type="button" class="btn btn-sm btn-primary" @click="newModal">
                    Добавить
                </button>
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Название</th>
                      <th>Ссылка</th>
                      <th>Статус</th>
                      <th>Роль</th>
                      <th>Действия</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, key) in menu">
                        <td>{{ item.name }}</td>
                        <td>{{ item.link }}</td>
                        <td>{{ item.status }}</td>
                        <td>{{ item.roles }}</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-primary" @click="editModal(item)">
                                Редактировать
                            </button>
                            <button
                              v-if="permission['delete menu']"
                              class="btn btn-sm btn-danger"
                              @click="delMenu(item.id)"
                            >
                              Удаление</button
                            >
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNew" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" v-show="!editmode">Create New User</h5>
                <h5 class="modal-title" v-show="editmode">Update User's Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- <form @submit.prevent="createUser"> -->
            <form @submit.prevent="editmode ? updateMenuItem() : createMenuItem()">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input v-model="form.name" type="text" name="name"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                        <has-error :form="form" field="name"></has-error>
                    </div>
                    <div class="form-group">
                        <label>Link</label>
                        <input v-model="form.link" type="text" name="link"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('link') }">
                        <has-error :form="form" field="link"></has-error>
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <select name="type" v-model="form.statusSelected" id="type" class="form-control" :class="{ 'is-invalid': form.errors.has('type') }">
                            <option v-for="item in status" :value="item.name">{{ item.name }}</option>
                        </select>
                        <has-error :form="form" field="type"></has-error>
                    </div>
                    <div class="form-group">
                        <label>Role</label>
                        <multiselect v-model="form.role" tag-placeholder="Add this as new tag" placeholder="Search or add a tag" label="name" track-by="code" :options="options" :multiple="true" :taggable="true" @tag="addTag"></multiselect>
                        <has-error :form="form" field="type"></has-error>
                    </div>
                    <div class="form-group" style="margin-left: 20px;">
                        <input v-model="form.submenuFlag" class="form-check-input" type="checkbox" id="submenuFlag" name="submenuFlag">
                        <label for="submenuFlag" class="form-check-label">Подменю</label>
                    </div>
                    <div class="form-group" v-if="form.submenuFlag">
                        <label for="submenu">Основное меню</label>
                        <select name="submenu" v-model="form.selectedSubmenu" class="form-control">
                            <option v-for="item in submenu" :value="item.id">{{ item.name }}</option>
                        </select>
                        <has-error :form="form" field="type"></has-error>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
                </div>
              </form>
            
            </div>
        </div>
    </div>
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect'
    export default({
        components: { Multiselect },
        data() {
            return {
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                menu: [],
                permission: [],
                editmode: false,
                form: new Form({
                    id : '',
                    name: '',
                    link: '',
                    roles: '',
                    role: [
                      {'name': '', 'code': 0}
                    ],
                    statusSelected: '',
                    selectedSubmenu: '',
                    submenuFlag: ''
                }),
                status: [
                  {'name': 'Enabled'},
                  {'name': 'Disabled'}
                ],
                statusSelected: '',
                submenuFlag: false,
                submenu: [],
                options: [] 
            }
        },
        created() {
            this.getMenu();
            this.getUserPermission()
            this.getRole()
            this.getSubmenu()
        },
        methods: {
            editModal(menu){
              this.editmode = true;
              this.getMenuItem(menu.id)
              this.form.reset();
              $('#addNew').modal('show');
              this.form.fill(menu);
            },
            getMenuItem(id) {
              axios
                .get('/getMenu/'+id)
                .then(response => {
                  console.log(response)
                  this.form.statusSelected = response.data.status;
                  this.form.role.name = response.data.role;
                  this.form.role.code = response.data.role_id;
                  console.log(this.form.role)
                });
            },
            getMenu() {
                axios
                .get('/getMenus')
                .then(response => {
                  this.menu = response.data;
                });
            },
            getUserPermission() {
              const postData = { 
                id: this.id,
              };
              axios
              .get('/getuserpermission', )
              .then(response => {
                this.permission = response.data;
              });
            },
            newModal(){
                this.editmode = false;
                this.form.reset();
                $('#addNew').modal('show');
            },
            createMenuItem() {
              axios.post('/menu/add', this.form)
              .then((response)=>{
                  this.getMenu();
                  $('#addNew').modal('hide');

                  Toast.fire({
                        icon: 'success',
                        title: response.data.message
                  });

                  this.$Progress.finish();
              })
            },
            updateMenuItem() {
                axios.post('/menu/edit', this.form)
                .then((response) => {
                    this.getUsers();
                    $('#addNew').modal('hide');
                    Toast.fire({
                        icon: 'success',
                        title: response.data.message
                    });
                    this.$Progress.finish();
                })
            },
            addTag (newTag) {
              const tag = {
                name: newTag,
                code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
              }
              this.options.push(tag)
              this.value.push(tag)
            },
            getRole() {
                axios
                .get('/getroles')
                .then(response => {
                  for (let i = 0; i < response.data.length; i++) {
                    this.options.push({
                      'name': response.data[i].name,
                      'code': response.data[i].id
                    });
                  }
                });
            },
            getSubmenu() {
                axios
                .get('/getsubmenu')
                .then(response => {
                  this.submenu = response.data;
                });
            },
            delMenu(id) {
              Swal.fire({
              title: 'Are you sure?',
              text: "You won't be able to revert this!",
              showCancelButton: true,
              confirmButtonColor: '#d33',
              cancelButtonColor: '#3085d6',
              confirmButtonText: 'Yes, delete it!'
              }).then((result) => {

                  // Send request to the server
                   if (result.value) {
                          axios.get("/menu/delete/" + id).then(()=>{
                                  Swal.fire(
                                  'Deleted!',
                                  'Your file has been deleted.',
                                  'success'
                                  );
                              // Fire.$emit('AfterCreate');
                              this.getMenu();
                          }).catch((data)=> {
                            Swal.fire("Failed!", data.message, "warning");
                        });
                   }
              })
          },
        }
    })
</script>
