<template>
	<div class="row">
		<div class="col-md-9">
      <div class="card">
        <div class="card-header p-2">
          <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link active" href="#users" data-toggle="tab">Пользователи</a></li>
          </ul>
        </div><!-- /.card-header -->
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="users">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>Имя</th>
                    <th>Email</th>
                    <th>Роль</th>
                    <th>Действия</th>

                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, key) in users">
                      <td>{{ item.name }}</td>
                      <td>{{ item.email }}</td>
                      <td><span v-for="ritem in item.roles">{{ ritem.name }} </span></td>
                      <td>
                          <button type="button" class="btn btn-sm btn-primary" @click="editModal(item)">
                              Настроить права
                          </button>
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.tab-pane -->
          </div>
          <!-- /.tab-content -->
        </div><!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNew" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" v-show="!editmode">Create New User</h5>
              <h5 class="modal-title" v-show="editmode">Update User's Info</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>

          <!-- <form @submit.prevent="createUser"> -->
          <form @submit.prevent="editmode ? updateRole() : createRole()">
              <div class="modal-body">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Название</th>
                      <th>Статус</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, key) in form.permissions">
                        <td>{{ item.name }}</td>
                        <td v-if="item.check">
                          <input type="checkbox" v-model="item.check" checked>
                        </td>
                        <td v-else>
                          <input type="checkbox" v-model="item.check">
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
                  <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
              </div>
            </form>
          
          </div>
      </div>
    </div>
	</div>
</template>
<script>
    export default ({
      data() {
          return {
              users: [],
              permissions: [],
              editmode: false,
              form: new Form({
                  id : '',
                  permissions: [],
              }),
          }
      },
      created() {
          this.getUsers();
      },
      methods: {
          getUserPermission(id) {
            axios
            .get('/getuserpermission/'+id)
            .then(response => {
              this.form.permissions = response.data;
            });
          },
          updateRole() {
            axios.put('/permissions/update', this.form)
            .then((response) => {
                this.getUsers();
                $('#addNew').modal('hide');
                Toast.fire({
                    icon: 'success',
                    title: response.data.message
                });
                this.$Progress.finish();
            })
          },
          editModal(role) {
            this.getUserPermission(role.id)
            this.editmode = true;
            this.form.reset();
            $('#addNew').modal('show');
            this.form.fill(role);
          },
          getUsers() {
              axios
              .get('/getusers')
              .then(response => {
                this.users = response.data;
              });
          }
      }
    })
</script>
