<template>
  <div class="container-fluid">
    <!-- /.row -->
    <div class="row">
      <div class="col-12">
        <div class="card" style="margin-top: 30px">
          <div class="card-header">
            <h3 class="card-title">Пользователи</h3>

            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 150px">
                <input
                  type="text"
                  name="table_search"
                  class="form-control float-right"
                  placeholder="Search"
                />

                <div class="input-group-append">
                  <button type="submit" class="btn btn-default">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <button style="margin: 20px 0 0 20px;" type="button" class="btn btn-sm btn-primary" @click="newModal">
                Добавить
            </button>
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th>Имя</th>
                  <th>Email</th>
                  <th>Роль</th>
                  <th>Действия</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, key) in users">
                  <td>{{ item.name }}</td>
                  <td>{{ item.email }}</td>
                  <td><span v-for="ritem in item.roles">{{ ritem.name }} </span></td>
                  <td>
                    <button type="button" class="btn btn-sm btn-primary" @click="editModal(item)">
                        Редактировать
                    </button>
                    <button
                      v-if="permission['delete user']"
                      class="btn btn-sm btn-danger"
                      @click="delUser(item.id)"
                    >
                      Удаление</button
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNew" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" v-show="!editmode">Create New User</h5>
                <h5 class="modal-title" v-show="editmode">Update User's Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- <form @submit.prevent="createUser"> -->
            <form @submit.prevent="editmode ? updateUser() : createUser()">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input v-model="form.name" type="text" name="name"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                        <has-error :form="form" field="name"></has-error>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input v-model="form.email" type="text" name="email"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                        <has-error :form="form" field="email"></has-error>
                    </div>
                
                    <div class="form-group">
                        <label>Password</label>
                        <input v-model="form.password" type="password" name="password"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('password') }" autocomplete="false">
                        <has-error :form="form" field="password"></has-error>
                    </div>
                
                    <div class="form-group">
                        <label>User Role</label>
                        <select name="role" v-model="form.role" id="type" class="form-control" :class="{ 'is-invalid': form.errors.has('role') }">
                          <option v-for="item in role" :value="item.name" >{{ item.name }}</option>
                        </select>
                        <has-error :form="form" field="role"></has-error>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
                </div>
              </form>
            
            </div>
        </div>
    </div>
    <!-- /.row -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      csrf: document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content"),
      users: [],
      permission: [],
      editmode: false,
      role: [],
      userRole: '',
      form: new Form({
          id : '',
          type : '',
          name: '',
          email: '',
          role: '',
          roles: '',
          password: '',
      })
    };
  },
  created() {
    this.getUsers();
    this.getUserPermission();
    this.getRoles();
  },
  methods: {
    getUsers() {
      axios.get("/getusers").then((response) => {
        this.users = response.data;
      });
    },
    delUser(id) {
      Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      showCancelButton: true,
      confirmButtonColor: '#d33',
      cancelButtonColor: '#3085d6',
      confirmButtonText: 'Yes, delete it!'
      }).then((result) => {

          // Send request to the server
           if (result.value) {
                  axios.get("/users/delete/" + id).then(()=>{
                          Swal.fire(
                          'Deleted!',
                          'Your file has been deleted.',
                          'success'
                          );
                      // Fire.$emit('AfterCreate');
                      this.getUsers();
                  }).catch((data)=> {
                    Swal.fire("Failed!", data.message, "warning");
                });
           }
      })
    },
    getUserPermission() {
      const postData = {
        id: this.id,
      };
      axios.get("/getuserpermission").then((response) => {
        this.permission = response.data;
      });
    },
    getRoles() {
        axios
        .get('/getroles')
        .then(response => {
          this.role = response.data;
        });
    },
    newModal(){
        this.editmode = false;
        this.form.reset();
        $('#addNew').modal('show');
    },
    createUser(){
      axios.post('/users/add', this.form)
      .then((response)=>{
          this.getUsers();
          $('#addNew').modal('hide');

          Toast.fire({
                icon: 'success',
                title: response.data.message
          });

          this.$Progress.finish();
      })
    },
    updateUser(){
      axios.post('/users/edit', this.form)
      .then((response) => {
          this.getUsers();
          $('#addNew').modal('hide');
          Toast.fire({
            icon: 'success',
            title: response.data.message
          });
          this.$Progress.finish();
      })
    },
    getUserRole(user) {
      axios.post('/getuserrole', user)
      .then((response) => {
          this.form.role = response.data.name
      })
    },
    editModal(user){
      this.getUserRole(user)
      this.editmode = true;
      this.form.reset();
      $('#addNew').modal('show');
      this.form.fill(user);
    },
  },
};
</script>
